<button id="location-dropdown-toggle-btn" class="location-dropdown-toggle">
  <img class="pull-right" src="{{@root.meta.assetsPath}}img/globe-2.png" alt="{{i18n "header.location"}}">
</button>
<div class="location-dropdown">
  <form action="@root.meta._links.selectLocation.href" method="POST">
    <span class="location-dropdown-label">{{i18n "header.language"}}</span>
    <select name="language" id="language-select" class="select location-select">
      {{#each location.language}}
      <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
      {{/each}}
    </select>
    <span class="location-dropdown-label">{{i18n "header.country"}}</span>
    <select name="country" id="country-select" class="select location-select">
      {{#each location.country}}
      <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
      {{/each}}
    </select>
  </form>
</div>