<!-- start form/contact-form-form.hbs -->
<form class="" action="" method="post">
  <div class="title">
    <span class="text-uppercase">{{i18n "main:form.title"}}</span><br>
    <select id="shipping-title-select" class="checkout-dropdown" name="title{{suffix}}">
      <option value="" selected>{{i18n "main:form.choose"}}</option>
      {{#each form.salutations.list}}
      <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    {{> form/input-text columnWidth=6 name="firstName" labelKey="main:form.firstName" required=true value=form.firstName}}
    {{> form/input-text columnWidth=6 name="lastName" labelKey="main:form.lastName" required=true value=form.lastName}}
    {{> form/input-text columnWidth=6 name="subject" labelKey="main:form.subject" required=true value=form.subject}}
    {{> form/input-text columnWidth=6 name="orderNumber" labelKey="main:form.orderNumber" required=true value=form.orderNumber}}
    {{> form/input-text columnWidth=6 name="email" labelKey="main:form.email" required=true value=form.email}}
    {{> form/input-text columnWidth=6 name="phone" labelKey="main:form.phone" required=false value=form.phone}}
    <div classs="col-sm-12">
      <div class="contact-form-form-textarea">
        <label for="message">{{i18n "main:contactForm.message"}}*</label>
        <textarea type="textarea" cols="40" rows="10" name="message" value="" required></textarea>
      </div>
    </div>
  </div>
  <div class="contact-form-form-submit-btn">
    <button>{{i18n "main:form.submit"}}</button>
  </div>
</form>
<!-- end form/contact-form-form.hbs -->
