<div class="col-sm-12">
    <div class="address-one{{suffix}}">
        <span class="text-uppercase">{{i18n "form.addressOne"}}*</span><br>
        <input id="shipping{{suffix}}-addressone-input" class="checkout-input-field" type="text">
    </div>
</div>
<div class="col-sm-12">
    <div class="address-two{{suffix}}">
        <span class="text-uppercase">{{i18n "form.addressTwo"}}*</span><br>
        <input id="shipping{{suffix}}-addresstwo-input" class="checkout-input-field" type="text">
    </div>
</div>
<div class="col-sm-8">
    <div class="city{{suffix}}">
        <span class="text-uppercase">{{i18n "form.city"}}*</span><br>
        <input id="shipping{{suffix}}-city-input" class="checkout-input-field" type="text">
    </div>
</div>
<div class="col-sm-4">
    <div class="post-code{{suffix}}">
        <span class="text-uppercase">{{i18n "form.postCode"}}*</span><br>
        <input id="shipping{{suffix}}-postcode-input" class="checkout-input-field" type="text">
    </div>
</div>
