<div class="checkout-summary">
    <div class="text-uppercase">
        <span class="checkout-summary-title">{{content.billingAddress.text}}</span>
        <a id="confirmation-edit-billing-btn" href="#">
                      <span class="pull-right">
                        <img src="{{meta.assetsPath}}img/edit-1.png" class="checkout-summary-edit-icon" alt="">{{content.editIconText}}</span>
        </a>
    </div>
    <div class="checkout-summary-text">
        <span>{{content.billingAddress.name}}</span>
        <br>
        <span>{{content.billingAddress.street}}</span>
        <br>
        <span>{{content.billingAddress.city}}</span>
        <br>
        <span>{{content.billingAddress.region}}</span>
        <br>
        <span>{{content.billingAddress.postCode}}</span>
        <br>
        <span>{{content.billingAddress.country}}</span>
    </div>
    <div>
        <span>{{content.billingAddress.phoneTitle}}:</span>
        <span> {{content.shippingAddress.phone}}</span>
        <br>
        <span>{{content.billingAddress.emailTitle}}:</span>
        <span> {{content.shippingAddress.email}}</span>
    </div>
</div>
