<div class="checkout-summary">
    <div class="text-uppercase">
        <span class="checkout-summary-title">{{paymentDetails.text}}</span>
        <a id="confirmation-edit-details-btn" href="#">
                      <span class="pull-right">
                        <img src="{{meta.assetsPath}}img/edit-1.png" class="checkout-summary-edit-icon" alt="">{{editIconText}}</span>
        </a>
    </div>
    <div class="checkout-summary-text">
        <span>{{paymentDetails.type}}</span>
        <br>
        <span>{{paymentDetails.name}}</span>
        <br>
        <span>{{paymentDetails.card}}</span>
        <br>
        <span>{{paymentDetails.number}}</span>
        <br>
        <span>{{paymentDetails.date}}</span>
    </div>
</div>
