<!-- start myaccount/my-account-sidebar.hbs -->
<div class="my-account-sidebar">
  <div {{#if positionOne}}id="my-account-mobile-content"{{/if}} class="my-account-sidebar-items {{#if positionOne}}active{{/if}}">
    <a href="{{content.sidebarItemOne.url}}">{{i18n "my-account:myAccountSidebar.personalDetails"}}</a>
  </div>
  <div {{#if positionTwo}}id="my-account-mobile-content"{{/if}}class="my-account-sidebar-items {{#if positionTwo}}active{{/if}}">
    <a href="{{content.sidebarItemTwo.url}}">{{i18n "my-account:myAccountSidebar.addressBook"}}</a>
  </div>
  <div {{#if positionThree}}id="my-account-mobile-content"{{/if}}class="my-account-sidebar-items {{#if positionThree}}active{{/if}}">
    <a href="{{content.sidebarItemThree.url}}">{{i18n "my-account:myAccountSidebar.paymentDetails"}}</a>
  </div>
  <div {{#if positionFour}}id="my-account-mobile-content"{{/if}}class="my-account-sidebar-items {{#if positionFour}}active{{/if}}">
    <a href="{{content.sidebarItemFour.url}}">{{i18n "my-account:myAccountSidebar.myOrders"}}</a>
  </div>
  <div {{#if positionFive}}id="my-account-mobile-content"{{/if}}class="my-account-sidebar-items {{#if positionFive}}active{{/if}}">
    <a href="{{content.sidebarItemFive.url}}">{{i18n "my-account:myAccountSidebar.returnsExchange"}}</a>
  </div>
  <div {{#if positionSix}}id="my-account-mobile-content"{{/if}}class="my-account-sidebar-items clearfix {{#if positionSix}}active{{/if}}">
    <a href="{{content.sidebarItemSix.url}}">
      <span><img class="sidebar-wishlist-heart hidden-sm" src="{{meta.assetsPath}}/img/heart-1.png" alt="heart icon"></span>{{i18n "my-account:myAccountSidebar.wishlist"}}<span class="sidebar-wishlist-quantity hidden-sm">{{content.sidebarItemSix.wishlistItems}}</span>
    </a>
  </div>
  <div {{#if positionSeven}}id="my-account-mobile-content"{{/if}}class="my-account-sidebar-items {{#if positionSeven}}active{{/if}}">
    <a href="{{content.sidebarItemSeven.url}}">{{i18n "my-account:myAccountSidebar.signOut"}}</a>
  </div>
</div>
<!-- end myaccount/my-account-sidebar.hbs -->
