<!-- start catalog/home/banner-middle.hbs -->
<div class="aspect-ratio aspect-ratio--8to3">
  <picture>
    <source srcset="{{cms "banner:homeMiddle.imageLarge"}}" media="(min-width: 1200px)">
    <source srcset="{{cms "banner:homeMiddle.imageMedium"}}" media="(min-width: 768px)">
    <img src="{{cms "banner:homeMiddle.imageSmall"}}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">
    {{{cms "banner:homeMiddle.title"}}}
  </h4>
  <p class="banner-subtitle">{{{cms "banner:homeMiddle.subtitle"}}}</p>
  <p class="hidden-xs hidden-sm">{{{cms "banner:homeMiddle.description"}}}</p>
  <a class="btn banner-btn" href="{{cms "banner:homeMiddle.linkHref"}}">
    {{cms "banner:homeMiddle.linkText"}}
  </a>
</div>
<!-- end catalog/home/banner-middle.hbs -->
