<!-- start catalog/home/banner-bottom-right-2.hbs -->
<div class="aspect-ratio aspect-ratio--4to3">
  <picture>
    <source srcset="{{@root.meta.assetsPath}}img/sunglass_large-4to3.jpg" media="(min-width: 1200px)">
    <source srcset="{{@root.meta.assetsPath}}img/sunglass_medium-4to3.jpg" media="(min-width: 768px)">
    <img src="{{@root.meta.assetsPath}}img/sunglass_small-4to3.jpg" class="img-responsive" alt="Banner image">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">{{i18n "home:bannerThree.third.title"}}</h4>
  <p class="banner-paragraph">{{i18n "home:bannerThree.third.subtitle"}}</p>
  <a href="{{content.banners.bannerThree.third.href}}" class="btn banner-btn">{{i18n "home:bannerThree.third.btn"}}</a>
</div>
<!-- end catalog/home/banner-bottom-right-2.hbs -->
