<!-- start catalog/home/banner-bottom-right-1.hbs -->
<picture>
  <source srcset="{{@root.meta.assetsPath}}img/blue-bg_large-4to3.png" media="(min-width: 1200px)">
  <source srcset="{{@root.meta.assetsPath}}img/blue-bg_medium-4to3.png" media="(min-width: 768px)">
  <img src="{{@root.meta.assetsPath}}img/blue-bg_small-4to3.png" class="img-responsive" alt="Banner image">
</picture>

<div class="banner-text">
  <img src="{{@root.meta.assetsPath}}img/sun-logo.png" alt="Sunrise logo" />
  <h4 class="banner-title">{{i18n "home:bannerThree.second.title"}}</h4>
</div>
<!-- end catalog/home/banner-bottom-right-1.hbs -->
