<!-- start catalog/home/banner-bottom-right-1.hbs -->
<picture>
  <source srcset="{{@root.meta.assetsPath}}img/blue-bg_large-4to3-3947277d43f9efb348b36d66b7d36334.png" media="(min-width: 1200px)">
  <source srcset="{{@root.meta.assetsPath}}img/blue-bg_medium-4to3-082a4d6c946f5e40b37c58589e90990e.png" media="(min-width: 768px)">
  <img src="{{@root.meta.assetsPath}}img/blue-bg_small-4to3-4f423f2f16577c1f33646b62571bcab9.png" class="img-responsive" alt="Banner image">
</picture>

<div class="banner-text">
  <img src="{{@root.meta.assetsPath}}img/sun-logo-709384debb2f9d98b86ef505681ce42e.png" alt="Sunrise logo" />
  <h4 class="banner-title">{{i18n "home:bannerThree.second.title"}}</h4>
</div>
<!-- end catalog/home/banner-bottom-right-1.hbs -->
