<!-- start catalog/home/banner-bottom-left.hbs -->
<div class="aspect-ratio aspect-ratio--4to3">
  <picture>
    <source srcset="{{cms "banner:homeBottomLeft.imageLarge"}}" media="(min-width: 1200px)">
    <source srcset="{{cms "banner:homeBottomLeft.imageMedium"}}" media="(min-width: 768px)">
    <img src="{{cms "banner:homeBottomLeft.imageSmall"}}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">{{{cms "banner:homeBottomLeft.title"}}}</h4>
  <p class="banner-paragraph">{{{cms "banner:homeBottomLeft.subtitle"}}}</p>
  <a href="{{cms "banner:homeBottomLeft.linkHref"}}" class="btn banner-btn">
    {{cms "banner:homeBottomLeft.linkText"}}
  </a>
</div>
<!-- end catalog/home/banner-bottom-left.hbs -->
