<!-- start catalog/home/banner-bottom-right-3.hbs -->
<div class="aspect-ratio aspect-ratio--8to3">
  <picture>
    <source srcset="{{cms "banner:homeBottomRight3.imageLarge"}}" media="(min-width: 1200px)">
    <source srcset="{{cms "banner:homeBottomRight3.imageMedium"}}" media="(min-width: 768px)">
    <img src="{{cms "banner:homeBottomRight3.imageSmall"}}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">{{{cms "banner:homeBottomRight3.title"}}}</h4>
  <p class="banner-paragraph">{{{cms "banner:homeBottomRight3.subtitle"}}}</p>
  <a href="{{cms "banner:homeBottomRight3.linkHref"}}" class="btn banner-btn">
    {{cms "banner:homeBottomRight3.linkText"}}
  </a>
</div>
<!-- end catalog/home/banner-bottom-right-3.hbs -->
