<!-- start catalog/home/banner-top-left.hbs -->
<div class="aspect-ratio aspect-ratio--4to3">
  <picture>
    <source srcset="{{@root.meta.assetsPath}}img/leather_large-4to3-77f215b17919a3c4a819c870ee8a3c3d.jpg" media="(min-width: 1200px)">
    <source srcset="{{@root.meta.assetsPath}}img/leather_medium-4to3-4a47ca30ac82d710e682f71abbdef00e.jpg" media="(min-width: 768px)">
    <img src="{{@root.meta.assetsPath}}img/leather_small-4to3-89742802f59011114ed3d011b7103ca6.jpg" class="img-responsive" alt="Banner image">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">{{i18n "home:bannerOne.first.title"}}</h4>
  <p class="banner-paragraph">{{i18n "home:bannerOne.first.subtitle"}}</p>
  <a href="{{content.banners.bannerOne.first.href}}" class="btn banner-btn">{{i18n "home:bannerOne.first.btn"}}</a>
</div>
<!-- end catalog/home/banner-top-left.hbs -->
