<!-- start location/address-item.hbs -->
  {{#each addresses}}
    <li class="item address {{#if this.active}}address--active{{/if}}">
      <div class="item-link" onClick="setLocation({{this.map.position}});">
        <span class="distance">
          <i class="icon icon-marker"></i>
          {{this.distance.value}} {{this.distance.unit}}
        </span>

        <b class="price">
          {{this.price.value}} {{this.price.currency}}
        </b>

        <strong class="title">
          {{this.title}}
        </strong>

        <div class="info">
          <div class="info-title">
            {{i18n "main:storeLocation.address"}}:
          </div>
          <div class="info-content">
            {{this.content.line1}} <br/>
            {{this.content.line2}}
          </div>

          <div class="info-title">
            {{i18n "main:storeLocation.workingHours"}}:
          </div>
          <div class="info-content">
            {{this.hours.line1}}<br/>
            {{this.hours.line2}}
          </div>
        </div>

        <div class="box-footer">
          <div class="status">
            {{#if this.status}}
              <div class="status-color green"></div>
              <span class="status-text">{{i18n "main:storeLocation.status.available"}}</span>
            {{else}}
              <div class="status-color red"></div>
              <span class="status-text">{{i18n "main:storeLocation.status.notAvailable"}}</span>
            {{/if}}
          </div>

          <div class="action">
            {{> catalog/reserve-in-store-btn icon=false default-color=false text-short=true}}
          </div>
        </div>
      </div>
    </li>
  {{/each}}
<!-- end location/address-item.hbs -->
