{{#with content.banner}}
<figure class="figure-banner">
  <img class="img-responsive hidden-sm hidden-md hidden-lg" src="{{imageMobile}}" alt="{{text}}">
  <img class="img-responsive hidden-xs" src="{{imageDesktop}}" alt="{{text}}">
  <figcaption class="figcaption-banner-text">
    <h2>{{text}}</h2>
    <h3>{{description}}</h3>
  </figcaption>
</figure>
{{/with}}