<li>
  <a href="{{pagination.urlPrevious}}" class="icon-prev">
    <span class="sr-only">{{i18n "catalog:pagination.previous"}}</span>
  </a>
</li>
{{#each pagination.pages}}
  <li><a href="{{url}}" {{#if selected}}class="active"{{/if}}>{{name}}</a></li>
{{/each}}
<li>
  <a href="{{pagination.urlNext}}" class="icon-next">
    <span class="sr-only">{{i18n "catalog:pagination.next"}}</span>
  </a>
</li>