<a id="link-product-thumbnail{{index}}" href="{{product.url}}">
  <div class="shop-item">
    {{#if product.sale}}
      <div class="sale-flag">{{i18n "catalog:thumbnail.sale"}}</div>
    {{/if}}
    {{#if product.new}}
      <div class="new-flag">{{i18n "catalog:thumbnail.new"}}</div>
    {{/if}}
    <form id="form-add-to-wishlist-mobile{{index}}" name="add-to-wishlist-mobile" action="{{product.addToWishlistUrl}}">
      <button type="submit" class="heart-xs visible-xs">
        <span class="sr-only">{{i18n "catalog:wishlist.add"}}</span>
      </button>
    </form>
    <img class="pop-product-image" src="{{product.data.gallery.mainImage}}" alt="{{product.data.name}}" width="200" />
    <div class="pop-product-name">
      <span class="name-headline">{{product.data.name}}</span>
      <span class="name-subline">{{product.data.description}}</span>
    </div>
    <div class="pop-item-price">
      {{#if product.data.priceOld}}
        <span class="strikethrough">{{product.data.priceOld}}</span>
        <span class="pop-item-price-old">{{product.data.price}}</span>
      {{else}}
        <span>{{product.data.price}}</span>
      {{/if}}
    </div>
    <div class="pop-product-more-colors">
      {{#if product.moreColors}}{{i18n "catalog:thumbnail.moreColors"}}{{/if}}&nbsp;
    </div>
    <div class="shop-item-overlay hidden-xs">
      <button type="button" class="quickview" data-modal="quickview-modal{{index}}">
        {{i18n "catalog:thumbnail.quickView"}}
      </button>      
      <form id="form-add-to-wishlist{{index}}" name="add-to-wishlist" action="{{product.addToWishlistUrl}}">
        <button type="submit" class="heart">
          <span class="sr-only">{{i18n "catalog:wishlist.add"}}</span>
        </button>
      </form>
    </div>
  </div>
</a>
{{> catalog/quickview}}
