<div class="row">
  <div class="col-sm-12">
    <p><h1 class="text-uppercase pdp-product-title">{{content.product.text}}</h1><span class="grey-p">{{content.product.sku}}</span></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <fieldset class="rating">
      {{#each content.product.rating.list}}
        <input type="radio" id="star{{value}}" name="rating" value="{{value}}" /><label for="star{{value}}" title="{{description}}">{{text}}</label>
      {{/each}}
    </fieldset>
    <span class="star-rating-review"><a href="{{content.product.rating.url}}">{{rating.text}}</a></span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p class="pdp-product-description">{{{content.product.description}}}</p>
    <p class="additional-description">{{{content.product.additionalDescription}}}</p>
    <a href="#"><span class="view-details">{{content.product.viewDetails}}</span></a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p class="product-price">{{content.product.price}}</p>
  </div>
</div>
<div class="row select-row clearfix">
  <div class="pull-left">
    <p class="text-uppercase">{{content.product.color.text}}</p>
    <div>
      <select class="select-product-detail">
        {{#each content.product.color.list}}
          <option value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="pull-left">
    <p class="text-uppercase">{{content.product.size.text}}</p>
    <div>
      <select class="select-product-detail">
        {{#each content.product.size.list}}
          <option value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="pull-left size-guide-col">
    <a href="#" data-toggle="modal" data-target="#size-guide"><span class="size-guide"><img class="size-guide-thumb" src="assets/img/ruler-1.png" alt="size guide">{{content.product.sizeGuide}}</span></a>
  </div>
</div>
<div class="row clearfix">
  <div class="pull-left">
    <select class="bag-items">
      {{#each content.product.bagItems.list}}
        <option value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
      {{/each}}
    </select>
  </div>
  <div class="pull-left">
    <button class="add-to-bag text-center">
     <img class="bag-thumb" src="{{meta.assetsPath}}img/hand-bag-2-black.png" alt="{{content.product.addToBag}}">{{content.product.addToBag}}
    </button>
  </div>
  <div class="pull-left">
    <button type="button" class="pdp-product-heart">
      <span class="sr-only">{{content.product.addToWishlist}}</span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="availability">
      <span class="glyphicon glyphicon-ok-sign"></span>{{content.product.available}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel-group panel-group-pdp" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title product-accordion-title text-uppercase">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{{content.product.productDetails.text}}<img class="accordion-plus" src="{{meta.assetsPath}}img/plus79.png" alt="accordion content">
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body panel-body-pdp">
            {{content.product.productDetails.description}}
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title product-accordion-title text-uppercase">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">{{content.product.deliveryAndReturn.text}}<img class="accordion-plus" src="{{meta.assetsPath}}img/plus79.png" alt="accordion content">
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body panel-body-pdp">
            {{content.product.deliveryAndReturn.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="social-share">
      <ul class="social-icons pdp-social-icons">
        <a href=""><li><img class="social-icon" src="{{meta.assetsPath}}img/Facebook.png" alt="facebook"></li></a>
        <a href=""><li><img class="social-icon" src="{{meta.assetsPath}}img/Pinterest.png" alt="pinterest"></li></a>
        <a href=""><li><img class="social-icon" src="{{meta.assetsPath}}img/Google.png" alt="google plus"></li></a>
      </ul>
    </div>
  </div>
</div>
{{> catalog/size-guide}}
