<li>
  <p class="text-uppercase">{{attribute.name}}</p>
  <div>
    <select name="attribute-{{attribute.key}}" class="select-product-detail" data-cross-select="{{json attribute.selectData}}" data-variants="{{json variants}}" data-identifiers="{{json identifiers}}">
      <option value="">{{i18n "choose"}} {{attribute.name}}</option>
      {{#each attribute.list}}
        <option value="{{value}}" {{#if selected}}selected{{/if}} required>{{text}}</option>
      {{/each}}
    </select>
  </div>
  {{> common/required-error-message}}
</li>
