<div class="row">
  <div class="col-sm-12">
    <p><h1 class="text-uppercase pdp-product-title">{{content.product.text}}</h1><span class="grey-p">{{content.product.sku}}</span></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <fieldset class="rating">
      {{#each content.static.rating}}
      <input type="radio" id="star{{value}}" name="rating" value="{{value}}" /><label for="star{{value}}" title="{{description}}">{{text}}</label>
      {{/each}}
    </fieldset>
    <span class="star-rating-review"><a href="{{content.product.rating.url}}">{{content.product.rating.text}}</a></span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p class="pdp-product-description">{{{content.product.description}}}</p>
    <a id="{{content.static.viewDetailsToggleBtnId}}" href="#"><span class="view-details">{{content.static.viewDetailsText}}</span></a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p class="product-price">
      {{#if content.product.priceOld}}
      <span class="discounted-price">{{content.product.priceOld}}</span>
      {{/if}}
      <span>{{content.product.price}}</span>
    </p>
  </div>
</div>
<div class="row select-row">
  <ul class="list-inline">
    <li>
      <p class="text-uppercase">{{content.static.colorsText}}</p>
      <div>
        <select id="{{content.static.colorSelectId}}" class="select-product-detail">
          <option id="{{content.static.colorDefaultItem.id}}" value="{{content.static.colorDefaultItem.id}}" {{#if content.static.colorDefaultItem.selected}}selected{{/if}}>{{content.static.colorDefaultItem.text}}</option>
          {{#each content.product.colors}}
          <option id="{{id}}" value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
          {{/each}}
        </select>
        {{> catalog/error-message}}
      </div>
    </li>
    <li>
      <p class="text-uppercase">{{content.static.sizesText}}</p>
      <div>
        <select id="{{content.static.sizeGuideId}}" class="select-product-detail">
          <option id="{{content.static.sizeSelectFirstOptionId}}" value="{{content.static.sizeDefaultItem.id}}" {{#if content.static.sizeDefaultItem.selected}}selected{{/if}}>{{content.static.sizeDefaultItem.text}}</option>
          {{#each content.product.sizes}}
          <option id="{{id}}" value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
          {{/each}}
        </select>
        {{> catalog/error-message}}
      </div>
    </li>
    <li class="size-guide-li">
      <a href="#" id="{{content.static.sizeGuideBtnId}}" data-toggle="modal" data-target="#size-guide"><span class="size-guide"><img class="size-guide-thumb" src="{{meta.assetsPath}}img/ruler-1.png" alt="size guide">{{content.static.sizeGuideText}}</span></a>
    </li>
  </ul>
</div>
<div class="row">
  <ul class="list-inline">
    <li>
      <select id="{{content.static.bagItemsQuantity}}" class="bag-items">
        {{#each content.static.bagItems}}
        <option id="{{id}}" value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
        {{/each}}
      </select>
    </li>
    <li>
      <button id="{{content.static.addToBagBtn}}" class="add-to-bag text-center">
        <img class="bag-thumb" src="{{meta.assetsPath}}img/hand-bag-2-black.png" alt="{{content.static.addToBagText}}">{{content.static.addToBagText}}
      </button>
    </li>
    <li>
      <button id="{{content.static.addToWishlistBtn}}" type="button" class="btn pdp-product-heart">
        <span class="sr-only">{{content.static.addToWishlistText}}</span>
      </button>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="availability">
      <span class="glyphicon glyphicon-ok-sign"></span>{{content.static.availableText}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel-group panel-group-pdp" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title product-accordion-title text-uppercase">
            <a id="{{content.static.productDetailsToggleId}}" class="collapsed pdp-accord-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{{content.static.productDetailsText}}<img class="accordion-plus" src="{{meta.assetsPath}}img/plus79.png" alt="accordion content">
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body panel-body-pdp">
            <ul>
              {{#each content.product.details}}
              <li>{{text}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title product-accordion-title text-uppercase">
            <a id="{{content.static.deliveryReturnsToggleId}}" class="collapsed pdp-accord-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">{{content.static.deliveryAndReturnsText}}<img class="accordion-plus" src="{{meta.assetsPath}}img/plus79.png" alt="accordion content">
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body panel-body-pdp">
            <p>
              {{content.static.standardDeliveryText}}
            </p>
            <p>
              {{content.static.expressDeliveryText}}
            </p>
            <p>
              {{content.static.freeReturnsText}}
            </p>
            <p>
              {{content.static.moreDeliveryInfoText}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="social-share">
      <ul class="social-icons pdp-social-icons">
        <a href=""><li><img class="social-icon" src="{{meta.assetsPath}}img/Facebook.png" alt="facebook"></li></a>
        <a href=""><li><img class="social-icon" src="{{meta.assetsPath}}img/Pinterest.png" alt="pinterest"></li></a>
        <a href=""><li><img class="social-icon" src="{{meta.assetsPath}}img/Google.png" alt="google plus"></li></a>
      </ul>
    </div>
  </div>
</div>
{{> catalog/size-guide}}
