<!-- Modal -->
<div class="modal fade" id="quickview-modal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-quickview" role="document">
    <div class="modal-content quickview-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="{{meta.assetsPath}}img/close.png" alt="close modal" /></span></button>
      </div>
      <div class="modal-body">
        <div class="row product-info-row-pdp">
          <div class="col-sm-4">
            <div class="bzoom_wrap">
              <ul id="bzoom">
                {{#each quickviewGallery}}
                  <li>
                    <img class="bzoom_thumb_image" src="{{thumbImage}}">
                    <img class="bzoom_big_image" src="{{bigImage}}">
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-2 product-description">
            <div class="row">
              <div class="col-sm-12">
                <p><h1 class="text-uppercase pdp-product-title">{{product.text}}</h1><span class="grey-p quickview-sku">{{product.sku}}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <fieldset class="rating">
                  {{#each product.rating.list}}
                    <input type="radio" id="star{{value}}" name="rating" value="{{value}}" /><label for="star{{value}}" title="{{description}}">{{text}}</label>
                  {{/each}}
                </fieldset>
                <span class="star-rating-review"><a href="{{product.rating.url}}">{{product.rating.text}}</a></span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="additional-description">{{product.additionalDescription}}</p>
                <a href="#"><span class="view-details">{{product.viewDetails}}</span></a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="product-price">{{product.price}}</p>
              </div>
            </div>
            <div class="row select-row">
              <ul class="list-inline">
                <li>
                  <p class="text-uppercase">{{product.color.text}}</p>
                  <div>
                    <select class="select-product-detail">
                      {{#each product.color.list}}
                        <option value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
                      {{/each}}
                    </select>
                  </div>
                </li>
                <li>
                  <p class="text-uppercase">{{product.size.text}}</p>
                  <div>
                    <select class="select-product-detail">
                      {{#each product.size.list}}
                        <option value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
                      {{/each}}
                    </select>
                  </div>
                </li>
              </ul>
            </div>
            <div class="row">
              <ul class="list-inline">
                <li>
                  <select class="bag-items">
                    {{#each product.bagItems.list}}
                      <option value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
                    {{/each}}
                  </select>
                </li>
                <li>
                  <button class="add-to-bag text-center">
                   <img class="bag-thumb" src="{{meta.assetsPath}}img/hand-bag-2-black.png" alt="{{addToBag}}">{{product.addToBag}}
                  </button>
                </li>
                <li>
                  <button type="button" class="btn pdp-product-heart">
                    <span class="sr-only">{{product.addToWishlist}}</span>
                  </button>
                </li>
                <li>
                  <div class="availability">
                    <span class="glyphicon glyphicon-ok-sign"></span>{{product.available}}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
