<div class="aspect-ratio aspect-ratio--8to3">
  <picture>
    <source srcset="{{cms "content.bannerMiddle.imageLarge"}}" media="(min-width: 1200px)">
    <source srcset="{{cms "content.bannerMiddle.imageMedium"}}" media="(min-width: 768px)">
    <img src="{{cms "content.bannerMiddle.imageSmall"}}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">
    {{{cms "content.bannerMiddle.title"}}}
  </h4>
  <p class="banner-subtitle">{{{cms "content.bannerMiddle.subtitle"}}}</p>
  <p class="hidden-xs hidden-sm">{{{cms "content.bannerMiddle.description"}}}</p>
  <a class="btn banner-btn" href="{{cms "content.bannerMiddle.linkHref"}}">
    {{cms "content.bannerMiddle.linkText"}}
  </a>
</div>
