<div class="aspect-ratio aspect-ratio--8to3">
  <picture>
    <source srcset="{{cms "home:bannerMiddle.imageLarge"}}" media="(min-width: 1200px)">
    <source srcset="{{cms "home:bannerMiddle.imageMedium"}}" media="(min-width: 768px)">
    <img src="{{cms "home:bannerMiddle.imageSmall"}}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">
    {{{cms "home:bannerMiddle.title"}}}
  </h4>
  <p class="banner-subtitle">{{{cms "home:bannerMiddle.subtitle"}}}</p>
  <p class="hidden-xs hidden-sm">{{{cms "home:bannerMiddle.description"}}}</p>
  <a class="btn banner-btn" href="{{cms "home:bannerMiddle.linkHref"}}">{{cms "home:bannerMiddle.linkText"}}</a>
</div>