<div class="aspect-ratio aspect-ratio--4to3">
  <picture>
    <source srcset="{{cms "home:bannerBottomLeft.imageLarge"}}" media="(min-width: 1200px)">
    <source srcset="{{cms "home:bannerBottomLeft.imageMedium"}}" media="(min-width: 768px)">
    <img src="{{cms "home:bannerBottomLeft.imageSmall"}}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">{{{cms "home:bannerBottomLeft.title"}}}</h4>
  <p class="banner-paragraph">{{{cms "home:bannerBottomLeft.subtitle"}}}</p>
  <a href="{{cms "home:bannerBottomLeft.linkHref"}}" class="btn banner-btn">{{cms "home:bannerBottomLeft.linkText"}}</a>
</div>