<div class="aspect-ratio aspect-ratio--8to3">
  <picture>
    <source srcset="{{cms "home:bannerBottomRight3.imageLarge"}}" media="(min-width: 1200px)">
    <source srcset="{{cms "home:bannerBottomRight3.imageMedium"}}" media="(min-width: 768px)">
    <img src="{{cms "home:bannerBottomRight3.imageSmall"}}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">{{cms "home:bannerBottomRight3.title"}}</h4>
  <p class="banner-paragraph">{{cms "home:bannerBottomRight3.subtitle"}}</p>
  <a href="{{cms "home:bannerBottomRight3.linkHref"}}" class="btn banner-btn">{{cms "home:bannerBottomRight3.linkText"}}</a>
</div>