<div class="aspect-ratio aspect-ratio--4to3">
  <picture>
    <source srcset="{{cms "home:bannerBottomRight2.imageLarge"}}" media="(min-width: 1200px)">
    <source srcset="{{cms "home:bannerBottomRight2.imageMedium"}}" media="(min-width: 768px)">
    <img src="{{cms "home:bannerBottomRight2.imageSmall"}}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">{{cms "home:bannerBottomRight2.title"}}</h4>
  <p class="banner-paragraph">{{cms "home:bannerBottomRight2.subtitle"}}</p>
  <a href="{{cms "home:bannerBottomRight2.linkHref"}}" class="btn banner-btn">{{cms "home:bannerBottomRight2.linkText"}}</a>
</div>