<div class="aspect-ratio aspect-ratio--4to3">
  <picture>
    <source srcset="{{cms "content.bannerBottomLeft.imageLarge"}}" media="(min-width: 1200px)">
    <source srcset="{{cms "content.bannerBottomLeft.imageMedium"}}" media="(min-width: 768px)">
    <img src="{{cms "content.bannerBottomLeft.imageSmall"}}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">{{{cms "content.bannerBottomLeft.title"}}}</h4>
  <p class="banner-paragraph">{{{cms "content.bannerBottomLeft.subtitle"}}}</p>
  <a href="{{cms "content.bannerBottomLeft.linkHref"}}" class="btn banner-btn">
    {{cms "content.bannerBottomLeft.linkText"}}
  </a>
</div>
