<!-- start common/nav-menu-category.hbs -->
{{#if category.children}}
  <ul class="dropdown-menu megamenu row dropdown-submenu">
    <li class="col-sm-8">
      <div class="nav-accordion">
        {{#each category.children}}
          <h3><a href="{{url}}">{{text}}</a></h3>
          <ul>
            {{#each children}}
              <li><a href="{{url}}">{{text}}</a></li>
            {{/each}}
          </ul>
        {{/each}}
      </div>
    </li>
    <li class="col-sm-4 hidden-xs">
      <img src="{{@root.meta.assetsPath}}img/menu-teaser-5edcab536865ea914de3d9d9c2a56c5e.jpg" alt="{{i18n "main:header.teaser"}}" class="img-responsive megamenu-img">
    </li>
  </ul>
{{/if}}
<!-- end common/nav-menu-category.hbs -->
