{{#each stores}}
    <li class="item address {{#if this.active}}address--active{{/if}}">
        <div class="item-link" onClick="setLocation({{this.storeInfo.location}});">
        <span class="distance">
          <i class="icon icon-marker"></i>
          3 Km
        </span>

            <b class="price">
              {{this.price}}
            </b>

            <strong class="title">
              {{this.storeInfo.name}}
            </strong>

            <div class="info">
                <div class="info-title">
                  {{i18n "main:storeLocation.address"}}:
                </div>
                <div class="info-content">
                  {{this.storeInfo.address.streetName}} {{this.storeInfo.address.streetNumber}}<br/>
                  {{this.storeInfo.address.postalCode}}, {{this.storeInfo.address.city}}
                    ({{this.storeInfo.address.country}})
                </div>

                <div class="info-title">
                  {{i18n "main:storeLocation.openingTimes"}}:
                </div>
                <div class="info-content">
                  {{{this.storeInfo.openingTimes}}}
                </div>
            </div>

            <div class="box-footer">
                <div class="status">
                  {{#*inline "available"}}
                      <div class="status-color green"></div>
                      <span class="status-text">{{i18n "main:storeLocation.availability.available"}}</span>
                  {{/inline}}
                  {{#*inline "notAvailable"}}
                      <div class="status-color red"></div>
                      <span class="status-text">{{i18n "main:storeLocation.availability.notAvailable"}}</span>
                  {{/inline}}
                  {{#*inline "fewItemsLeft"}}
                      <div class="status-color orange"></div>
                      <span class="status-text">{{i18n "main:storeLocation.availability.fewItemsLeft"}}</span>
                  {{/inline}}
                  {{> (lookup . 'availability')}}
                </div>

                <div class="action">
                  {{> catalog/reserve-in-store-btn icon=false default-color=false text-short=true}}
                </div>
            </div>
        </div>
    </li>
{{/each}}
