<!-- start checkout/choose-country.hbs -->
<div class="input-block">
  <span class="text-uppercase">{{i18n "main:form.country"}}*</span><br>
  <select id="{{selectId}}" class="checkout-dropdown" name="{{selectName}}{{suffix}}">
    <option value="" selected>{{i18n "main:form.choose"}}</option>
    {{#each options.list}}
    <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
    {{/each}}
  </select>
</div>
<!-- end checkout/choose-country.hbs -->
