<div class="{{mainClass}}">
  {{> checkout/order-summary/header}}

  {{#each cart.lineItems.list}}
      <div class="row single-cart-item">
          <div class="col-sm-1 col-xs-4 product-img-col">
              <img class="img-responsive cart-item-img" src="{{image}}" alt="cart item image">
          </div>
          <div class="col-sm-3 col-xs-8 product-info-text">
              <p class="cart-item-name">
                <a href="{{url}}">{{name}}</a>
                <br>{{description}}</p>
              <p class="grey-p">{{sku}}</p>
              <p class="cart-attributes">
              {{#each attributes}}
                  {{label}}
                  <span class="black-p" data-model="cartItem.{{key}}">{{value}}</span>
                  {{#unless @last}}<br>{{/unless}}
              {{/each}}
              </p>
            {{#unless ../ordered}}
                <p class="cart-item-availability grey-p">
                    <span class="glyphicon glyphicon-ok-sign"></span>{{i18n "catalog:availability.available"}}
                </p>
            {{/unless}}
          </div>




      {{#if ../editable}}
          <div class="col-sm-2 col-xs-12 cart-edit-delete">
              <div class="edit-section-options">
                  <div class="edit-delete-section">
                  <form action="{{@root.meta._links.deleteLineItem.href}}" method="post">
                      <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
                      <input type="hidden" name="lineItemId" value="{{lineItemId}}">
                      <button type="submit" id="cart-delete-button-{{@index}}">
                        <span>
                          <img class="cart-action-icon" src="{{@root.meta.assetsPath}}img/delete-1.png" alt="delete">{{i18n "form.delete"}}
                        </span>
                      </button>
                  </form>
                  </div>
              </div>
          </div>
          <div class="col-sm-2 col-xs-12 clearfix">
              <form action="{{@root.meta._links.changeLineItem.href}}" method="post">
                  <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
              <input type="hidden" name="lineItemId" value="{{lineItemId}}">
              <div class="sm-pull-right visible-xs">
                  <button type="submit" id="cart-quantity-submit-btn-{{@index}}" class="quantity-submit-btn">{{i18n "form.submit"}}</button>
              </div>
              <div class="sm-pull-right quantity-spinner">
                  <span id="cart-quantity-decrement-{{@index}}" class="input-number-decrement">–</span>
                  <input id="cart-quantity-value-{{@index}}" name="lineItemCount" class="input-number" type="text" value="{{quantity}}" min="1" max="10">
                  <span id="cart-quantity-increment-{{@index}}" class="input-number-increment">+</span>
              </div>
              <div class="sm-pull-right hidden-xs">
                  <button type="submit" id="cart-quantity-submit-btn-{{@index}}" class="quantity-submit-btn">{{i18n "form.submit"}}</button>
              </div>
              </form>
          </div>
      {{else}}
          <div class="col-sm-2 col-sm-offset-2 col-xs-12 text-center quantity-counter">
              <span class="visible-xs">Quantity:</span>
              <span class="quantity-number">{{quantity}}</span>
          </div>
      {{/if}}






          <div class="col-sm-2 {{#if editable}}col-xs-12 sm-pull-right{{else}}col-xs-7{{/if}}">
              <div class="text-right cart-item-price">
                  <span class="visible-xs xs-price-title">{{i18n "common.price"}}</span>
                {{#if priceOld}}
                    <span class="discounted-price">{{priceOld}}</span>
                {{/if}}
                  <span>{{price}}</span>
              </div>
          </div>
          <div class="col-sm-2 {{#if editable}}col-xs-12 sm-pull-right{{else}}col-xs-5{{/if}}">
              <div class="text-right cart-item-price">
                  <span class="visible-xs xs-price-title">{{i18n "checkout:total"}}</span>
                  <span>{{totalPrice}}</span>
              </div>
          </div>
      </div>






  {{/each}}

  {{> checkout/order-summary/discount-code-input}}
    {{#if checkoutConfirmation}}
  {{> checkout/order-summary/confirmation-checkboxes}}
  {{/if}}
    <div class="row">
        <div class="col-sm-12">
            <div class="total-price-calc">
              {{#unless editable}}
                {{> checkout/order-summary/discount-summary}}
              {{/unless}}
              {{> checkout/order-summary/totals}}
            </div>
        </div>
    </div>
</div>
