<!-- start checkout/shipping-form.hbs -->
<form method="post" action="{{@root.meta._links.checkoutShippingSubmit.href}}">
  <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
  <div class="shipping-method input-block" id="shipping-methods-setting">
    <div class="text-uppercase shipping-method-title">{{i18n "checkout:shippingForm"}}</div>
    {{#each shippingForm.shippingMethods.list}}
      <div class="shipping-method-option">
        <label for="shipping-method-{{@index}}">
          <span class="shipping-method-span">
            <input id="shipping-method-{{@index}}" class="shipping-method-radio" type="radio" name="shippingMethodId" value="{{value}}" {{#if selected}}checked{{/if}}{{!-- if it is only one element --}}{{#unless selected}}{{#if @first}}{{#if @last}}checked{{/if}}{{/if}}{{/unless}}>
            {{label}}
          </span>
          <span class="text-uppercase delivery-time">{{deliveryDays}}</span>
        </label>
        <a href="{{url}}"><span class="pull-right text-uppercase delivery-details">{{i18n "main:common.viewDetails"}}</span></a>
      </div>
    {{/each}}
  </div>
  {{> checkout/continue-checkout-button}}
</form>
<!-- end checkout/shipping-form.hbs -->
