<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="cart-page">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <div class="current-in-bag">
            <span>
              <img class="bag-icon-lg" src="{{meta.assetsPath}}img/hand-bag-2-black.png" alt="bag icon">
            </span>
            <span class="text-uppercase your-bag-txt">{{content.yourBag}}</span>
            <span class="items-total-txt">{{content.itemsTotal}}</span>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="checkout-now">
            <button id="cart-checkoutnow-btn" class="pull-right text-uppercase checkout-now-btn">{{content.checkoutBtn}}</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          {{> checkout/order-summary cart=content.cart mainClass="cart-content" editable=true}}
        </div>
      </div>
      <div class="row bottom-cart-btns">
        <div class="col-sm-6 col-xs-12 visible-xs">
          <div class="checkout-now-bottom">
            <a href="#">
              <button id="cart-checkout-btn" class="pull-right text-uppercase checkout-now-btn">{{content.checkoutBtn}}</button>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div>
            <a href="#">
              <button id="cart-continueshopping-btn-xs" class="text-uppercase continue-shopping-btn">{{content.continueShoppingBtn}}</button>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 hidden-xs">
          <div class="checkout-now-bottom">
            <a href="#">
              <button id="cart-checkout-btn" class="pull-right text-uppercase checkout-now-btn">{{content.checkoutBtn}}</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> catalog/wishlist}}
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>

</html>
