<!DOCTYPE html>
<html lang="en">
  <head>
    {{> common/htmlhead}}
  </head>

  <body>
  {{> common/checkout-header}}

  <div class="checkout-thankyou">
    <div class="container">
      <div class="thankyou-page-title">{{i18n "checkout.thankYouPage.title"}}</div>
      <div class="thankyou-page-content">
        <div class="row">
          <div class="col-md-6">
            <span class="thankyou-confirmation">{{content.emailSentTo}}o <span class="thankyou-email">{{content.email}}</span><br>{{content.emailSentToEnding}}</span>
          </div>
          <div class="col-md-6">
            <ul class="list-inline text-right thankyou-buttons">
              {{!-- <li><button type="button" class="print-receipt-btn">{{content.receiptBtn}}</button></li> --}}
              <li><a href="#" class="thankyou-continue-shopping-btn">{{content.continueShoppingBtn}}</a></li>
            </ul>
          </div>
        </div>
        <div class="thankyou-order-details">
          <div class="order-details-title">{{content.orderDetailsTitle}}</div>
          <div class="order-number-date">
            <span class="number-date-title">{{content.orderNumberTitle}}<br>{{content.orderDateTitle}}</span>
            <span class="black-p">{{content.orderNumber}}<br>{{content.orderDate}}</span>
          </div>
        </div>
        <div class="thankyou-order-summary">
          <div class="row">
            <div class="col-sm-4 checkout-first-col">
              <div class="checkout-summary">
                <div class="text-uppercase">
                  <span class="checkout-summary-title">{{content.shippingAddress.text}}</span>
                </div>
                <div class="checkout-summary-text">
                  <span>{{content.shippingAddress.name}}</span><br>
                  <span>{{content.shippingAddress.street}}</span><br>
                  <span>{{content.shippingAddress.city}}</span><br>
                  <span>{{content.shippingAddress.region}}</span><br>
                  <span>{{content.shippingAddress.postCode}}</span><br>
                  <span>{{content.shippingAddress.country}}</span>
                </div>
                <div>
                  <span>{{content.shippingAddress.phoneTitle}}:</span><span> {{content.shippingAddress.phone}}</span><br>
                  <span>{{content.shippingAddress.emailTitle}}:</span><span> {{content.shippingAddress.email}}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-4 checkout-second-col">
              <div class="checkout-summary">
                <div class="text-uppercase">
                  <span class="checkout-summary-title">{{content.billingAddress.text}}</span>
                </div>
                <div class="checkout-summary-text">
                  <span>{{content.billingAddress.name}}</span><br>
                  <span>{{content.billingAddress.street}}</span><br>
                  <span>{{content.billingAddress.city}}</span><br>
                  <span>{{content.billingAddress.region}}</span><br>
                  <span>{{content.billingAddress.postCode}}</span><br>
                  <span>{{content.billingAddress.country}}</span>
                </div>
                <div>
                  <span>{{content.billingAddress.phoneTitle}}:</span><span> {{content.shippingAddress.phone}}</span><br>
                  <span>{{content.billingAddress.emailTitle}}:</span><span> {{content.shippingAddress.email}}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-4 checkout-third-col">
              <div class="checkout-summary">
                <div class="text-uppercase">
                  <span class="checkout-summary-title">{{content.shippingMethod.text}}</span>
                </div>
                <div class="checkout-summary-text">
                  <span>{{content.shippingMethod.description}}</span>
                </div>
              </div>
              <div class="checkout-summary">
                <div class="text-uppercase">
                  <span class="checkout-summary-title">{{content.paymentDetails.text}}</span>
                </div>
                <div class="checkout-summary-text">
                  <span>{{content.paymentDetails.type}}</span><br>
                  <span>{{content.paymentDetails.name}}</span><br>
                  <span>{{content.paymentDetails.card}}</span><br>
                  <span>{{content.paymentDetails.number}}</span><br>
                  <span>{{content.paymentDetails.date}}</span>
                </div>
              </div>
            </div>
          </div>
          {{> checkout/order-summary cart=content.order mainClass="confirmation-products-title" editable=false}}
        </div>
        <div>
          <ul class="list-inline text-right thankyou-buttons">
            {{!-- <li><button type="button" class="print-receipt-btn">{{content.receiptBtn}}</button></li> --}}
            <li><a href="#" class="thankyou-continue-shopping-btn">{{content.continueShoppingBtn}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {{> common/checkout-footer}}
  {{> common/htmlscripts}}
  </body>
</html>
