<!DOCTYPE html>
<html lang="en">
  <head>
    {{> common/htmlhead}}
  </head>

  <body>
  {{> common/checkout-header}}
  <div class="checkout-shipping">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="secure-payment">
            <span><img class="secure-payment-icon" src="assets/img/credit-card-lock.png" alt="secure payment"></span>
            <span class="text-uppercase secure-payment-title">{{content.secureCheckoutTitle}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="checkout-steps text-right">
            <div>
              <a href="#"><span class="step-number">1</span></a>
              <span class="text-uppercase step-title">{{content.shippingOne}}</span>
            </div>
            <div>
              <span class="step-divider"></span>
              <a href="#"><span class="step-number">2</span></a>
              <span class="text-uppercase step-title">{{content.paymentTwo}}</span>
            </div>
            <div>
              <span class="step-divider-two"></span>
              <a href="#"><span class="step-number step-number-active">3</span></a>
              <span class="text-uppercase step-title">{{content.confirmationThree}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="checkout">
            <div class="row">
              <div class="col-sm-4 checkout-first-col">
                <div class="checkout-summary">
                  <div class="text-uppercase">
                    <span class="checkout-summary-title">Shipping Address</span><a href="#"><span class="pull-right"><img src="assets/img/edit-1.png" class="checkout-summary-edit-icon" alt="">Edit</span></a>
                  </div>
                  <div class="checkout-summary-text">
                    <span>Mr. Peter Surname</span><br>
                    <span>100 Batman Street</span><br>
                    <span>Gotham City</span><br>
                    <span>Region</span><br>
                    <span>123456</span><br>
                    <span>Country</span>
                  </div>
                  <div>
                    <span>Phone: +49 123 4567890</span><br>
                    <span>Email: batman@commercetools.com</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 checkout-second-col">
                <div class="checkout-summary">
                  <div class="text-uppercase">
                    <span class="checkout-summary-title">Billing Address</span><a href="#"><span class="pull-right"><img src="assets/img/edit-1.png" class="checkout-summary-edit-icon" alt="">Edit</span></a>
                  </div>
                  <div class="checkout-summary-text">
                    <span>Mr. Peter Surname</span><br>
                    <span>100 Batman Street</span><br>
                    <span>Gotham City</span><br>
                    <span>Region</span><br>
                    <span>123456</span><br>
                    <span>Country</span>
                  </div>
                  <div>
                    <span>Phone: +49 123 4567890</span><br>
                    <span>Email: batman@commercetools.com</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 checkout-third-col">
                <div class="checkout-summary">
                  <div class="text-uppercase">
                    <span class="checkout-summary-title">Shipping Method</span><a href="#"><span class="pull-right"><img src="assets/img/edit-1.png" class="checkout-summary-edit-icon" alt="">Edit</span></a>
                  </div>
                  <div class="checkout-summary-text">
                    <span>DHL Standart - Delivery 3-5 Days</span>
                  </div>
                </div>
                <div class="checkout-summary">
                  <div class="text-uppercase">
                    <span class="checkout-summary-title">Payment Details</span><a href="#"><span class="pull-right"><img src="assets/img/edit-1.png" class="checkout-summary-edit-icon" alt="">Edit</span></a>
                  </div>
                  <div class="checkout-summary-text">
                    <span>Credit Cart</span><br>
                    <span>Batman Wayne</span><br>
                    <span>Visa</span><br>
                    <span>**** **** **** **69</span><br>
                    <span>09.18</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="confirmation-products-title">
              <div class="row">
                <div class="row text-uppercase hidden-xs cart-items-title">
                  <div class="col-sm-6">
                    <span>{{content.cartItems.description}}</span>
                  </div>
                  <div class="col-sm-2 text-center">
                    <span>{{content.cartItems.quantity}}</span>
                  </div>
                  <div class="col-sm-2 text-right">
                    <span>{{content.cartItems.price}}</span>
                  </div>
                  <div class="col-sm-2 text-right">
                    <span>{{content.cartItems.totalPrice}}</span>
                  </div>
                </div>
            </div>
            {{#each content.cartItems.list}}
              <div class="row single-cart-item">
                <div class="col-sm-1 col-xs-4 product-img-col">
                  <img class="img-responsive cart-item-img" src="assets/img/blue-jacket.jpg" alt="cart item image">
                </div>
                <div class="col-sm-3 col-xs-8 product-info-text">
                  <p class="cart-item-name">{{nameHeadline}}<br>{{nameSubline}}</p>
                  <p class="grey-p">{{sku}}</p>
                  <p class="cart-color-size">{{colorTitle}}<span class="black-p">{{color}}</span><br>{{sizeTitle}}<span class="black-p">{{size}}</span></p>
                  <p class="cart-item-availability grey-p hidden-xs"><span class="glyphicon glyphicon-ok-sign"></span>{{available}}</p>
                  <p class="cart-item-availability grey-p visible-xs"><span class="glyphicon glyphicon-ok-sign"></span>{{available}}</p>
                </div>
                <div class="col-sm-2 col-sm-offset-2 col-xs-6 text-center cart-edit-delete">
                  <div class="text-uppercase edit-delete-section">
                    <a href="#"><span><img class="cart-action-icon" src="assets/img/edit-1.png" alt="delete">{{edit}}</span></a>
                  </div>
                  <div class="text-uppercase edit-delete-section">
                    <a href="#"><span><img class="cart-action-icon" src="assets/img/delete-1.png" alt="delete">{{delete}}</span></a>
                  </div>
                </div>
                <div class="col-sm-2 col-xs-7">
                  <div class="text-right cart-item-price">
                    <span class="visible-xs xs-price-title">{{priceTitle}}</span>
                    <span>{{price}}</span>
                  </div>
                </div>
                <div class="col-sm-2 col-xs-5">
                  <div class="text-right cart-item-price">
                    <span class="visible-xs xs-price-title">{{totalPriceTitle}}</span>
                    <span>{{totalPrice}}</span>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> common/footer}}
  {{> common/htmlscripts}}
  </body>
</html>
