<!DOCTYPE html>
<html lang="en">
  <head>
    {{> htmlhead}}
  </head>

  <body>
  {{> header}}
  <div class="checkout-shipping">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="secure-payment">
            <span><img class="secure-payment-icon" src="assets/img/credit-card-lock.png" alt="secure payment"></span>
            <span class="text-uppercase secure-payment-title">{{content.secureCheckoutTitle}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="checkout-steps text-right">
            <div>
              <a href="#"><span class="step-number step-number-active">1</span></a>
              <span class="text-uppercase step-title">{{content.shippingOne}}</span>
            </div>
            <div>
              <span class="step-divider"></span>
              <a href="#"><span class="step-number">2</span></a>
              <span class="text-uppercase step-title">{{content.paymentTwo}}</span>
            </div>
            <div>
              <span class="step-divider-two"></span>
              <a href="#"><span class="step-number">3</span></a>
              <span class="text-uppercase step-title">{{content.confirmationThree}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="checkout">
            <div class="row">
              <div class="col-sm-7">
                <div class="shipping-info">
                  <span class="text-uppercase shipping-info-title">{{content.shippingInfoTitle}}</span>
                  <span class="pull-right required-fields">{{content.required}}*</span>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="title">
                      <span class="text-uppercase">{{content.title}}</span><br>
                      <select class="checkout-dropdown" name="title" form="title">
                        {{#each content.chooseTitle.list}}
                          <option value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="first-name">
                      <span class="text-uppercase">{{content.firstName}}*</span><br>
                      <input class="checkout-input-field" type="text">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="last-name">
                      <span class="text-uppercase">{{content.lastName}}*</span><br>
                      <input class="checkout-input-field" type="text">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="address-one">
                      <span class="text-uppercase">{{content.addressOne}}*</span><br>
                      <input class="checkout-input-field" type="text">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="address-two">
                      <span class="text-uppercase">{{content.addressTwo}}*</span><br>
                      <input class="checkout-input-field" type="text">
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="city">
                      <span class="text-uppercase">{{content.city}}*</span><br>
                      <input class="checkout-input-field" type="text">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="post-code">
                      <span class="text-uppercase">{{content.postCode}}*</span><br>
                      <input class="checkout-input-field" type="text">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="country">
                      <span class="text-uppercase">{{content.country}}*</span><br>
                      <select class="checkout-dropdown" name="title" form="title">
                        {{#each content.chooseCountry.list}}
                          <option value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
                        {{/each}}
                      </select>
                      <a href="#"><span class="text-uppercase country-shipping">{{content.defaultShipping}}</span></a>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="region">
                      <span class="text-uppercase">{{content.region}}*</span><br>
                      <input class="checkout-input-field" type="text">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="primary-telephone">
                      <span class="text-uppercase">{{content.telNumber}}*</span><br>
                      <input class="checkout-input-field" type="text">
                      <span class="tel-email-text">{{content.telNumberInfo}}</span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="email-address">
                      <span class="text-uppercase">{{content.email}}*</span><br>
                      <input class="checkout-input-field" type="text">
                      <span class="tel-email-text">{{content.emailInfo}}</span>
                    </div>
                  </div>
                </div>
                <div class="row different-billing-row">
                  <div class="col-sm-12">
                    <div class="different-for-billing">
                      <span id="different-billing-checkbox">
                        <input type="checkbox">
                      </span>
                      <span>{{content.differentBilling}}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div id="different-billing-address">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="address-one-different">
                            <span class="text-uppercase">{{content.diffAddressOne}}*</span><br>
                            <input class="checkout-input-field" type="text">
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="address-two-different">
                            <span class="text-uppercase">{{content.diffAddressTwo}}*</span><br>
                            <input class="checkout-input-field" type="text">
                          </div>
                        </div>
                        <div class="col-sm-8">
                          <div class="city-different">
                            <span class="text-uppercase">{{content.diffCity}}*</span><br>
                            <input class="checkout-input-field" type="text">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="post-code-different">
                            <span class="text-uppercase">{{content.diffPostCode}}*</span><br>
                            <input class="checkout-input-field" type="text">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="country-different">
                            <span class="text-uppercase">{{content.diffCountry}}*</span><br>
                            <select class="checkout-dropdown" name="title" form="title">
                              {{#each content.diffChooseCountry.list}}
                                <option value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
                              {{/each}}
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="region-different">
                            <span class="text-uppercase">{{content.diffRegion}}*</span><br>
                            <input class="checkout-input-field" type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="shipping-method">
                      <div class="text-uppercase shipping-method-title">{{content.shippingMethod}}</div>
                      {{#each content.delivery.list}}
                        <div class="shipping-method-option">
                          <span><input class="shipping-method-radio" type="radio" name="delivery options" value="{{value}}" {{#if selected}}checked{{/if}}>{{text}}</span>
                          <span class="pull-right text-uppercase delivery-time">{{deliveryDays}}</span>
                          <a href="#"><span class="pull-right text-uppercase delivery-details">{{details}}</span></a>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs">
                  <div class="col-sm-6">
                    <div>
                      <a href="#"><button class="text-uppercase checkout-checkout-btn">{{content.checkoutBtn}}</button></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="order-summary">
                  <span class="text-uppercase order-summary-title">{{content.orderSummary}}:</span>
                  <span class="checkout-total-items">{{content.itemsTotal}}</span>
                </div>
                {{> catalog/checkout-item}}
                <div class="row visible-xs">
                  <div class="col-sm-6">
                    <div>
                      <a href="#"><button class="text-uppercase checkout-checkout-btn">Continue Checkout</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> footer}}
  {{> htmlscripts}}
</body>

</html>
