<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="my-orders">
    <div class="container">
      <div class="my-account-title">
        <span class="my-account-title-text icon-user">{{content.pageTitle}}</span>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="my-orders-wrapper">
            <div class="row">
              <div class="col-sm-3">
                <div class="my-account-sidebar">
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemOne.url}}">{{content.sidebarItemOne.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemTwo.url}}">{{content.sidebarItemTwo.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemThree.url}}">{{content.sidebarItemThree.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items active">
                    <a href="{{content.sidebarItemFour.url}}">{{content.sidebarItemFour.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemFive.url}}">{{content.sidebarItemFive.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items clearfix">
                    <a href="{{content.sidebarItemSix.url}}">
                      <span><img class="sidebar-wishlist-heart hidden-sm" src="{{meta.assetsPath}}/img/heart-1.png" alt="heart icon"></span>{{content.sidebarItemSix.text}}<span class="sidebar-wishlist-quantity hidden-sm">{{content.sidebarItemSix.wishlistItems}}</span>
                    </a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemSeven.url}}">{{content.sidebarItemSeven.text}}</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="my-orders-order-content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="my-orders-title">
                        {{content.contentTitle}}
                      </div>
                    </div>
                  </div>
                  <div class="your-order-details-wrapper">
                    <div class="your-order-details-title">Your Order Details</div>
                    <div class="your-order-details">
                      <span class="your-order-details-titles">Order Number:<br>Order Date:</span>
                      <span class="your-order-details-info">01445678<br>Nov 14, 2015</span>
                    </div>
                    <button class="my-orders-print-receipt-btn">Print Receipt</button>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="my-orders-order-dark-box">
                        <div class="my-orders-order-dark-box-title">Shipping Address</div>
                        <div>Mr. Bruce Wayne</div>
                        <div>100 Gotham Street</div>
                        <div>Gotham City</div>
                        <div>Region</div>
                        <div>123456</div>
                        <div>Country</div><br>
                        <div>Phone: +49 123 4567890</div>
                        <div>Email: bruce.wayne@commercetools.com</div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="my-orders-order-dark-box">
                        <div class="my-orders-order-dark-box-title">Billing Address</div>
                        <div>Mr. Bruce Wayne</div>
                        <div>100 Gotham Street</div>
                        <div>Gotham City</div>
                        <div>Region</div>
                        <div>123456</div>
                        <div>Country</div><br>
                        <div>Phone: +49 123 4567890</div>
                        <div>Email: bruce.wayne@commercetools.com</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="my-orders-order-dark-box">
                        <div class="my-orders-order-dark-box-title">Shipping Method</div>
                        <div>DHL Standart - Delivery 3-5 Days</div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="my-orders-order-dark-box">
                        <div class="my-orders-order-dark-box-title">Payment Details</div>
                        <div>Credit Card</div>
                        <div>Bruce Wayne</div>
                        <div>Visa</div>
                        <div>**** **** **** **99</div>
                        <div>09.18</div>
                      </div>
                    </div>
                  </div>
                  <div class="my-orders-order-price-summary-wrapper">
                    <div class="text-right">
                      <span class="my-orders-order-promocode-title">Promotional Code Applied:</span>
                      <span class="my-orders-order-promocode">Sunny Sale</span>
                    </div>
                    <div class="text-right">
                      <div class="my-orders-order-price-titles">
                        <span>Subtotal</span><br>
                        <span>Order Discout</span><br>
                        <span>Standart Delivery</span>
                      </div>
                      <div class="my-orders-order-price">
                        <span>Subtotal</span><br>
                        <span>Order Discout</span><br>
                        <span>Standart Delivery</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{> catalog/wishlist}} --}}
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>

</html>
