<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="address-book">
    <div class="container">
      <div class="my-account-title">
        <span class="my-account-title-text icon-user">{{content.pageTitle}}</span>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="address-book-wrapper">
            <div class="row">
              <div class="col-sm-3">
                <div class="my-account-sidebar">
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemOne.url}}">{{content.sidebarItemOne.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items active">
                    <a href="{{content.sidebarItemTwo.url}}">{{content.sidebarItemTwo.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemThree.url}}">{{content.sidebarItemThree.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemFour.url}}">{{content.sidebarItemFour.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemFive.url}}">{{content.sidebarItemFive.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items clearfix">
                    <a href="{{content.sidebarItemSix.url}}">
                      <span><img class="sidebar-wishlist-heart hidden-sm" src="{{meta.assetsPath}}/img/heart-1.png" alt="heart icon"></span>{{content.sidebarItemSix.text}}<span class="sidebar-wishlist-quantity hidden-sm">{{content.sidebarItemSix.wishlistItems}}</span>
                    </a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemSeven.url}}">{{content.sidebarItemSeven.text}}</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="address-book-content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="address-book-title">
                        Address Book
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="box-addresses-title">
                        Default Addresses
                      </div>
                      <div class="address-book-dark-box">
                        <div class="address-book-dark-box-title">Shipping Address</div>
                        <div>Batman Robin</div>
                        <div>100 Gotham Street</div>
                        <div>Region</div>
                        <div>01000</div>
                        <div>Wonderland</div>
                        <div class="address-box-edit-btn">
                          <button><img src="{{meta.assetsPath}}/img/edit-1.png" alt="edit icon">Edit</button>
                        </div>
                      </div>
                      <div class="address-book-dark-box">
                        <div class="address-book-dark-box-title">Billing Address</div>
                        <div>Batman Robin</div>
                        <div>100 Gotham Street</div>
                        <div>Region</div>
                        <div>01000</div>
                        <div>Wonderland</div>
                        <div class="address-box-edit-btn">
                          <button><img src="{{meta.assetsPath}}/img/edit-1.png" alt="edit icon">Edit</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="box-addresses-title">
                        Secondary Address
                      </div>
                      <div class="address-book-white-box">
                        <div>Batman Robin</div>
                        <div>100 Gotham Street</div>
                        <div>Region</div>
                        <div>01000</div>
                        <div>Country</div>
                        <div class="address-book-edit-delete">
                          <span><button><img src="{{meta.assetsPath}}/img/edit-1.png" alt="">Edit</button></span>
                          <span><button><img src="{{meta.assetsPath}}/img/delete-60px.png" alt="">Delete</button></span>
                        </div>
                      </div>
                      <div class="box-addresses-title">
                        Additional Address
                      </div>
                      <div class="address-book-white-box">
                        <div>Batman Robin</div>
                        <div>100 Gotham Street</div>
                        <div>Region</div>
                        <div>01000</div>
                        <div>Country</div>
                        <div class="address-book-edit-delete">
                          <span><button><img src="{{meta.assetsPath}}/img/edit-1.png" alt="">Edit</button></span>
                          <span><button><img src="{{meta.assetsPath}}/img/delete-60px.png" alt="">Delete</button></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="add-new-address-btn">
                        <button id="">ADD NEW ADDRESS</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{> catalog/wishlist}} --}}
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>

</html>
