<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="payment-details">
    <div class="container">
      <div class="my-account-title">
        <span class="my-account-title-text icon-user">{{content.pageTitle}}</span>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="payment-details-wrapper">
            <div class="row">
              <div class="col-sm-3">
                <div class="my-account-sidebar">
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemOne.url}}">{{content.sidebarItemOne.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemTwo.url}}">{{content.sidebarItemTwo.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items active">
                    <a href="{{content.sidebarItemThree.url}}">{{content.sidebarItemThree.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemFour.url}}">{{content.sidebarItemFour.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemFive.url}}">{{content.sidebarItemFive.text}}</a>
                  </div>
                  <div class="my-account-sidebar-items clearfix">
                    <a href="{{content.sidebarItemSix.url}}">
                      <span><img class="sidebar-wishlist-heart hidden-sm" src="{{meta.assetsPath}}/img/heart-1.png" alt="heart icon"></span>{{content.sidebarItemSix.text}}<span class="sidebar-wishlist-quantity hidden-sm">{{content.sidebarItemSix.wishlistItems}}</span>
                    </a>
                  </div>
                  <div class="my-account-sidebar-items">
                    <a href="{{content.sidebarItemSeven.url}}">{{content.sidebarItemSeven.text}}</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="payment-details-content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="address-book-title">
                        {{content.contentTitle}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="payment-details-box-titles">
                        Default Payment Method
                      </div>
                      <div class="payment-details-dark-box">
                        <div class="payment-details-dark-box-title">Credit Card</div>
                        <div>Bruce Wayne</div>
                        <div>Visa</div>
                        <div>**** **** **** **99</div>
                        <div>09.18</div>
                        <div class="payment-details-box-edit-btn">
                          <button><img src="{{meta.assetsPath}}/img/edit-1.png" alt="edit icon">Edit</button>
                        </div>
                      </div>
                      <div class="add-new-payment-btn">
                        <button>Add New Payment Method</button>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="payment-details-box-titles">
                        Additional Payment Methods
                      </div>
                      <div class="payment-details-white-box">
                        <div class="payment-details-white-box-title">Credit Card</div>
                        <div>Bruce Wayne</div>
                        <div>Visa</div>
                        <div>**** **** **** **99</div>
                        <div>09.18</div>
                        <div class="payment-details-edit-delete">
                          <div><button><img src="{{meta.assetsPath}}/img/edit-1.png" alt="">Edit</button></div>
                          <div><button><img src="{{meta.assetsPath}}/img/delete-60px.png" alt="">Delete</button></div>
                        </div>
                      </div>
                      <div class="payment-details-white-box">
                        <div class="payment-details-white-box-title">Credit Card</div>
                        <div>Bruce Wayne</div>
                        <div>Visa</div>
                        <div>**** **** **** **99</div>
                        <div>09.18</div>
                        <div class="payment-details-edit-delete">
                          <div><button><img src="{{meta.assetsPath}}/img/edit-1.png" alt="">Edit</button></div>
                          <div><button><img src="{{meta.assetsPath}}/img/delete-60px.png" alt="">Delete</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{> catalog/wishlist}} --}}
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>

</html>
