<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  {{> common/header}}
  <div class="pdp-page">
    <div id="pdp-page" class="container">
      <div class="row">
          <div class="col-xs-12 breadcrumb-col">
            {{> catalog/breadcrumb}}
          </div>
        </div>
        <div class="row product-info-row-pdp">
          <div class="col-md-4 col-md-offset-1 col-sm-6">
            <div class="bzoom_wrap hidden-xs">
              <ul id="bzoom">
                {{#each content.gallery}}
                  <li>
                    <img class="bzoom_thumb_image" {{#if thumbImage}}src="{{thumbImage}}"{{/if}} src="{{placeholderImage}}">
                    <img class="bzoom_big_image" {{#if bigImage}}src="{{bigImage}}"{{/if}} src="{{placeholderImage}}">
                  </li>
                {{/each}}
              </ul>
            </div>
            <div class="slick visible-xs">
              {{#each content.gallery}}
                <img {{#if bigImage}}src="{{bigImage}}"{{/if}} src="{{placeholderImage}}" alt="Product Image" />
              {{/each}}
            </div>
          </div>
          <div class="col-sm-6 product-description">
            {{> catalog/product-detail}}
          </div>
        </div>
     </div>
  </div>

  <div class="pdp-page-review">
    <div class="container">
      {{> catalog/suggestions}}
      <hr class="hr">
      {{> catalog/reviews}}
    </div>
  </div>
  {{> catalog/wishlist}}

  {{> common/footer}}

  {{> common/htmlscripts}}
</body>

</html>
