<!DOCTYPE html>
<html lang="en">
  <head>
    {{> htmlhead}}
  </head>

  <body>
    {{> header}}

    <div class="pop-page">
      <div id="pop-page" class="container">
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="row">
            <div class="col-xs-12">
              {{> breadcrumb}}
            </div>
          </div>
          <div class="row product-filter">
            <div class="col-sm-3 filter-options sidebar-offcanvas" id="sidebar">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row hidden-xs">
                    <div class="col-xs-5">
                      <p><b>{{filters.title}}</b></p>
                    </div>
                    <div class="col-xs-7 text-right clear-btn">
                      <a href="#">{{filters.clear}}</a>
                    </div>
                  </div>
                  <div class="row visible-xs">
                    <div class="col-xs-6">
                      <p><strong>{{filters.products}}</strong></p>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p><strong>{{pagination.currentPage}} {{pagination.pageSeparator}} {{pagination.totalPages}}</strong></p>
                    </div>
                  </div>
                  <div class="row visible-xs clear-btn-row">
                    <a href="#"><div class="col-xs-12 text-center clear-all-btn">{{filters.clearAllFilters}}</div></a>
                  </div>
                  <hr class="hr">
                  <div class="row product-type">
                    <div class="col-xs-8 text-left">
                      <p>{{filters.categories.title}}</p>
                    </div>
                    <div class="col-xs-4 text-right clear-btn">
                      <a href="#">{{filters.clear}}</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        {{#each filters.categories.list}}
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="heading-{{id}}">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{id}}" aria-expanded="true" aria-controls="collapse-{{id}}">
                                {{name}}
                              </a>
                            </h4>
                          </div>
                          <div id="collapse-{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{id}}">
                            <div class="panel-body">
                              {{#each children}}
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="{{value}}">
                                  {{name}}
                                </label>
                              </div>
                              {{/each}}
                            </div>
                          </div>
                        </div> 
                        {{/each}}                   
                      </div>
                    </div>
                  </div>
                  <hr class="hr">
                  <div class="row size-box">
                    <div class="col-xs-8 text-left">
                      {{filters.size.title}}
                    </div>
                    <div class="col-xs-4 text-right clear-btn">
                      <a href="#">{{filters.clear}}</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="">
                          S
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="">
                          M
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="">
                          XL
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="">
                          XXL
                        </label>
                      </div>
                    </div>
                  </div>
                  <hr class="hr">
                  <div class="row color-box">
                    <div class="col-xs-8 text-left">
                      Color
                    </div>
                    <div class="col-xs-4 text-right clear-btn">
                      <a href="#">{{filters.clear}}</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="">
                          Black
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="">
                          Blue
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="">
                          Multi
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="">
                          Neutral
                        </label>
                      </div>
                    </div>
                  </div>
                  <hr class="hr">
                  <div class="row price-box">
                    <div class="col-sm-12">
                      Price
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 text-center slider-col">
                      <p><input type="text" id="amount" readonly style="border:0; color:black; background: transparent; text-align: center;"></p>
                      <div id="slider-range"></div>
                    </div>
                  </div>
                  <hr class="hr">
                  <div class="row designer-box">
                    <div class="col-xs-8 text-left">
                      Brands
                    </div>
                    <div class="col-xs-4 text-right clear-btn">
                      <a href="#">Clear</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 designer-list">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> A.P.C
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> ACNE
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> ACRONYM
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> ALEXANDER MCQUEEN
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> ALEXANDER WANG
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> ALEXANDER WANG
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> ALEXANDER WANG
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> ALEXANDER WANG
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> ALEXANDER WANG
                        </label>
                      </div>
                    </div>
                  </div>
                  <hr class="hr visible-xs">
                  <div class="row visible-xs">
                    <div class="col-xs-12 sort-by-xs">
                      <select class="per-page">
                        <option selected="selected">Sort by price</option>
                        <option value="low">Low</option>
                        <option value="high">High</option>
                      </select>
                    </div>
                  </div>
                  <div class="row visible-xs language-currency-select">
                    <div class="col-xs-6 sort-by-xs">
                      <select class="per-page language-select-xs">
                        <option selected="selected">Language</option>
                        <option value="low">ENG</option>
                        <option value="high">DE</option>
                      </select>
                    </div>
                    <div class="col-xs-6 sort-by-xs">
                      <select class="per-page currency-select-xs">
                        <option selected="selected">Currency</option>
                        <option value="low">Euro</option>
                        <option value="high">Pound</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-9 text-center">
              <div class="row">
                <div class="col-sm-12 product-title">
                  <!-- Image Option -->
                  <img class="img-responsive placeholder-img" src="assets/img/sunset-girl.jpg" alt="placeholder">
                  <!-- Text Option -->
                  <!-- <p>Women<br><span class="section-heading">Coats</span><br><hr class="hr-short"></p>
                  <p class="text-normalize">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p> -->
                </div>
              </div>
              <div class="row mobile-filter-row">
                <div class="col-xs-6">
                  <span class="glyphicon glyphicon-cog visible-xs offcanvas-btn" data-toggle="offcanvas"> Filter</span>
                </div>
                <div class="col-xs-6 per-page-xs visible-xs text-right">
                  <select class="per-page-xs-btn">
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="48">48</option>
                  </select>
                </div>
              </div>
              <hr class="hr hidden-xs">
              <div class="row hidden-xs item-list-pagination">
                <div class="col-xs-4 text-left">
                  <span class="text-capitalizeh hidden-sm">Sort by</span>
                  <select class="per-page">
                    <option value="low">Low</option>
                    <option value="high">High</option>
                  </select>
                  <span class="text-capitalize">123 of 123</span>
                </div>
                <div class="col-xs-4 text-center pagination">
                  <ul class="page-numbers">
                    <li><a href=""><img class="page-prev" src="assets/img/arrow-circle-27.png" alt="previous"></a></li>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li class="pagination-active"><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href=""><img class="page-next" src="assets/img/arrow-circle-28.png" alt="next"></a></li>
                  </ul>
                </div>
                <div class="col-xs-4 text-right">
                  <span class="text-capitalize">items per page</span>
                  <select class="per-page per-page-xs-btn">
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="48">48</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <a href="#">
                    <div class="shop-item">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="sale-flag">Sale</div>
                          <img class="img-responsive center-block thumbnail-img" src="assets/img/blue-jacket.jpg" alt="placeholder">
                        </div>
                      </div>
                      <div class="row text-capitalize">
                        <div class="col-xs-12">
                          <p>Enditatem Product Name<br>Optional Line Two<br>&euro;250,-</p>
                          <p class="text-uppercase">More Colours</p>
                        </div>
                      </div>
                      <div class="overlay">
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="quicklook-btn" src="assets/img/quicklook.png" alt="quicklook"></a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="favourites-btn" src="assets/img/Heart.png" alt="favourites"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#">
                    <div class="shop-item">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="sale-flag">Sale</div>
                          <img class="img-responsive center-block thumbnail-img" src="assets/img/blue-jacket.jpg" alt="placeholder">
                        </div>
                      </div>
                      <div class="row text-capitalize">
                        <div class="col-xs-12">
                          <p>Enditatem Product Name<br>Optional Line Two<br>&euro;250,-</p>
                          <p class="text-uppercase">More Colours</p>
                        </div>
                      </div>
                      <div class="overlay">
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="quicklook-btn" src="assets/img/quicklook.png" alt="quicklook"></a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="favourites-btn" src="assets/img/Heart.png" alt="favourites"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 hidden-xs">
                  <a href="#">
                    <div class="shop-item">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="new-flag">New</div>
                          <img class="img-responsive center-block thumbnail-img" src="assets/img/blue-jacket.jpg" alt="placeholder">
                        </div>
                      </div>
                      <div class="row text-capitalize">
                        <div class="col-xs-12">
                          <p>Enditatem Product Name<br>Optional Line Two<br>&euro;250,-</p>
                          <p class="text-uppercase">More Colours</p>
                        </div>
                      </div>
                      <div class="overlay">
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="quicklook-btn" src="assets/img/quicklook.png" alt="quicklook"></a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="favourites-btn" src="assets/img/Heart.png" alt="favourites"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <a href="#">
                    <div class="shop-item">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="new-flag">New</div>
                          <img class="img-responsive center-block thumbnail-img" src="assets/img/blue-jacket.jpg" alt="placeholder">
                        </div>
                      </div>
                      <div class="row text-capitalize">
                        <div class="col-xs-12">
                          <p>Enditatem Product Name<br>Optional Line Two<br>&euro;250,-<br><span class="text-uppercase">More Colours</span></p>
                        </div>
                      </div>
                      <div class="overlay">
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="quicklook-btn" src="assets/img/quicklook.png" alt="quicklook"></a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="favourites-btn" src="assets/img/Heart.png" alt="favourites"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#">
                    <div class="shop-item">
                      <div class="row">
                        <div class="col-xs-12">
                          <img class="img-responsive center-block thumbnail-img" src="assets/img/blue-jacket.jpg" alt="placeholder">
                        </div>
                      </div>
                      <div class="row text-capitalize">
                        <div class="col-xs-12">
                          <p>Enditatem Product Name<br>Optional Line Two<br>&euro;250,-<br><span class="text-uppercase">More Colours</span></p>
                        </div>
                      </div>
                      <div class="overlay">
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="quicklook-btn" src="assets/img/quicklook.png" alt="quicklook"></a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="favourites-btn" src="assets/img/Heart.png" alt="favourites"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 hidden-xs">
                  <a href="#">
                    <div class="shop-item">
                      <div class="row">
                        <div class="col-xs-12">
                          <img class="img-responsive center-block thumbnail-img" src="assets/img/blue-jacket.jpg" alt="placeholder">
                        </div>
                      </div>
                      <div class="row text-capitalize">
                        <div class="col-xs-12">
                          <p>Enditatem Product Name<br>Optional Line Two<br>&euro;250,-<br><span class="text-uppercase">More Colours</span></p>
                        </div>
                      </div>
                      <div class="overlay">
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="quicklook-btn" src="assets/img/quicklook.png" alt="quicklook"></a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="favourites-btn" src="assets/img/Heart.png" alt="favourites"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <a href="#">
                    <div class="shop-item">
                      <div class="row">
                        <div class="col-xs-12">
                          <img class="img-responsive center-block thumbnail-img" src="assets/img/blue-jacket.jpg" alt="placeholder">
                        </div>
                      </div>
                      <div class="row text-capitalize">
                        <div class="col-xs-12">
                          <p>Enditatem Product Name<br>Optional Line Two<br>&euro;250,-<br><span class="text-uppercase">More Colours</span></p>
                        </div>
                      </div>
                      <div class="overlay">
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="quicklook-btn" src="assets/img/quicklook.png" alt="quicklook"></a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="favourites-btn" src="assets/img/Heart.png" alt="favourites"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#">
                    <div class="shop-item">
                      <div class="row">
                        <div class="col-xs-12">
                          <img class="img-responsive center-block thumbnail-img" src="assets/img/blue-jacket.jpg" alt="placeholder">
                        </div>
                      </div>
                      <div class="row text-capitalize">
                        <div class="col-xs-12">
                          <p>Enditatem Product Name<br>Optional Line Two<br>&euro;250,-<br><span class="text-uppercase">More Colours</span></p>
                        </div>
                      </div>
                      <div class="overlay">
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="quicklook-btn" src="assets/img/quicklook.png" alt="quicklook"></a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="favourites-btn" src="assets/img/Heart.png" alt="favourites"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 hidden-xs">
                  <a href="#">
                    <div class="shop-item">
                      <div class="row">
                        <div class="col-xs-12">
                          <img class="img-responsive center-block thumbnail-img" src="assets/img/blue-jacket.jpg" alt="placeholder">
                        </div>
                      </div>
                      <div class="row text-capitalize">
                        <div class="col-xs-12">
                          <p>Enditatem Product Name<br>Optional Line Two<br>&euro;250,-<br><span class="text-uppercase">More Colours</span></p>
                        </div>
                      </div>
                      <div class="overlay">
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="quicklook-btn" src="assets/img/quicklook.png" alt="quicklook"></a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a href="#"><img class="favourites-btn" src="assets/img/Heart.png" alt="favourites"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 text-center pagination">
                  <ul class="page-numbers page-numbers-bottom">
                    <li><a href=""><img class="page-prev" src="assets/img/arrow-circle-27.png" alt="previous"></a></li>
                    <li><a href="">1</a></li>
                    <li class="pagination-active"><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href=""><img class="page-next" src="assets/img/arrow-circle-28.png" alt="next"></a></li>
                  </ul>
                </div>
              </div>
              <hr class="hr">
              <div class="row">
                <div class="col-sm-12">
                  <h1>SEO TEXT AREA</h1>
                  <p class="text-normalize">SEO Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{> footer}}

    {{> htmlscripts}}
  </body>
</html>