<!DOCTYPE html>
<html lang="en">

<head>
  {{> htmlhead}}
</head>

<body>
  {{> header}}
  <div class="pop-page">
    <div id="pop-page" class="container">
      <div class="row">
        <div class="col-xs-12 figure-col">
          <figure class="figure-banner">
            <img class="img-responsive hidden-sm hidden-md hidden-lg" src="{{page.banner.imageMobile}}" alt="Women">
            <img class="img-responsive hidden-xs" src="{{page.banner.imageDesktop}}" alt="Women">
            <figcaption class="figcaption-banner-text">
              <h2>{{page.banner.title}}</h2>
              <h3>{{page.banner.text}}</h3>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-12">
          {{> breadcrumb}}
        </div>
        <div class="product-filter">
          {{> sidebar-offcanvas}}
        </div>
        <div class="col-sm-9">
          <div class="dark-overlay"></div>
          <div class="row">
            <div class="col-xs-12">
              <div class="jumbotron">
                <p>{{page.jumbotron.category}}</p>
                <h2>{{page.jumbotron.title}}</h2>
                <h3>{{page.jumbotron.text}}</h3>
              </div>
            </div>
          </div>
          <div class="row visible-xs">
            <div class="col-xs-12">
              <ul class="mobile-filter-list clearfix">
                <li class="pull-left">
                  <button type="button" class="offcanvas-btn offcanvas-open" data-toggle="offcanvas">{{page.filters.filterToggleBtn}}</button>
                </li>
                <li class="pull-left">
                  <select class="select">
                    {{#each page.sort.list}}
                      <option value="{{value}}" {{#if selected}} selected {{/if}}>{{name}}</option>
                    {{/each}}
                  </select>
                </li>
                <li class="pull-left">
                  <p class="item-count">12 of 234</p>
                </li>
              </ul>
            </div>
          </div>
          <hr class="hr hidden-xs">
          <div class="row hidden-xs item-list-pagination">
            <div class="col-xs-4 text-left">
              <div class="styled-select icon-drop-down">
                <select class="select">
                  {{#each page.sort.list}}
                    <option value="{{value}}" {{#if selected}} selected {{/if}}>{{name}}</option>
                  {{/each}}
                </select>
              </div>
              <p class="item-count">12 of 234</p>
            </div>
            <div class="col-xs-4 text-center pagination">
              <ul class="page-numbers">
                <li>
                  <a href="{{page.pagination.urlPrev}}" class="icon-prev">
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                {{#each page.pagination.pages}}
                  <li><a href="{{url}}" {{#if selected}} class="active" {{/if}}>{{name}}</a></li>
                {{/each}}
                <li>
                  <a href="{{page.pagination.urlNext}}" class="icon-next">
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-xs-4 text-right">
              <p class="item-count">{{page.display.title}}</p>
              <div class="styled-select icon-drop-down">
                <select class="select">
                  {{#each page.display.list}}
                    <option value="{{value}}" {{#if selected}} selected {{/if}}>{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            {{#each page.products}}
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="shop-item" onclick="location.href='{{url}}';">
                  {{#if isOnSale}}
                    <div class="sale-flag">Sale</div>
                  {{/if}}
                  {{#if isNew}}
                    <div class="new-flag">New</div>
                  {{/if}}
                  <img class="pop-product-image" src="{{image}}" alt="{{imgDescription}}" width="200" />
                  <div class="pop-product-name">
                    <span class="name-headline">{{nameHeadline}}</span>
                    <span class="name-subline">{{nameSubline}}</span>
                  </div>
                  <div class="pop-item-price">
                    {{#if reducedPrice}}
                      <span class="strikethrough">{{priceNew}}</span>
                      <span class="pop-item-price-old">{{priceOld}}</span>
                    {{else}}
                      <span>{{priceNew}}</span>
                    {{/if}}
                  </div>
                  {{!-- Should this be a clickable link? Right now, you can't click it due to the overlay --}}
                  <div class="pop-product-more-colors">
                    {{#if hasMoreColors}}More colours{{/if}}&nbsp;</div>
                  <div class="shop-item-overlay">
                    <button type="button" class="quickview">Quick view</button>
                    <button type="button" class="heart">
                      <span class="sr-only">Add item to wishlist</span>
                    </button>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          <div class="row">
            <div class="col-xs-12 text-center pagination">
              <ul class="page-numbers page-numbers-bottom">
                <li>
                  <a href="{{page.pagination.urlPrev}}" class="icon-prev">
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                {{#each page.pagination.pages}}
                  <li><a href="{{url}}" {{#if selected}} class="active" {{/if}}>{{name}}</a></li>
                {{/each}}
                <li>
                  <a href="{{page.pagination.urlNext}}" class="icon-next">
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <hr class="hr">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="seo-title">{{seo.title}}</h1>
              <p class="seo-text">{{seo.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {{> footer}}
  {{> htmlscripts}}
</body>

</html>
