<!-- start catalog/home-banners.hbs -->
<div class="home-banner-option-one">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 nopadding banner-left">
        <img class="img-responsive" src="{{@root.meta.assetsPath}}img/leather-691609.jpg" alt="Banner image" />
        <div class="banner-text">
          <h4 class="banner-title">{{i18n "home:bannerOne.first.title"}}</h4>
          <p class="banner-paragraph">{{i18n "home:bannerOne.first.subtitle"}}</p>
          <a href="{{content.banners.bannerOne.first.href}}" class="btn banner-btn">{{i18n "home:bannerOne.first.btn"}}</a>
        </div>
      </div>
      <div class="col-sm-6 nopadding banner-right">
        <img class="img-responsive" src="{{@root.meta.assetsPath}}img/woman-692767_1920.jpg" alt="Banner image" />
        <div class="banner-text">
          <h4 class="banner-title">{{i18n "home:bannerOne.second.title"}}</h4>
          <p class="banner-paragraph">{{i18n "home:bannerOne.second.subtitle"}}</p>
          <a href="{{content.banners.bannerOne.second.href}}" class="btn banner-btn">{{i18n "home:bannerOne.second.btn"}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-banner-option-two">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 nopadding">
        <img class="img-responsive" src="{{@root.meta.assetsPath}}img/home_tile_3.jpg" alt="Banner image" />
        <div class="banner-text">
          <img  class="hidden-xs" src="{{@root.meta.assetsPath}}img/sun-logo.png" alt="Sunrise logo" />
          <h4 class="banner-title">{{i18n "home:bannerTwo.title"}}</h4>
          <p class="banner-subtitle">{{i18n "home:bannerTwo.subtitle"}}</p>
          <p class="hidden-xs hidden-sm">{{i18n "home:bannerTwo.description1"}}</p>
          <p class="hidden-xs hidden-sm">{{i18n "home:bannerTwo.description2"}}</p>
          <a class="btn banner-btn" href="{{content.banners.bannerTwo.first.href}}">{{i18n "home:bannerTwo.btn"}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-banner-option-three">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 nopadding banner-left">
        <img class="img-responsive" src="{{@root.meta.assetsPath}}img/shoes-690608_1280.jpg" alt="Banner image" />
        <div class="banner-text">
          <h4 class="banner-title">{{i18n "home:bannerThree.first.title"}}</h4>
          <p class="banner-paragraph">{{i18n "home:bannerThree.first.subtitle"}}</p>
          <a href="{{content.banners.bannerThree.first.href}}" class="btn banner-btn">{{i18n "home:bannerThree.first.btn"}}</a>
        </div>
      </div>
      <div class="col-sm-6 noppading banner-right">
        <div class="row">
          <div class="col-sm-6 nopadding">
            <div class="banner-xs-one">
              <img class="img-responsive" src="{{@root.meta.assetsPath}}img/blue-box.png" alt="Banner image" />
              <div class="banner-text">
                <img src="{{@root.meta.assetsPath}}img/sun-logo.png" alt="Sunrise logo" />
                <h4 class="banner-title">{{i18n "home:bannerThree.second.title"}}</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 nopadding">
            <div class="banner-xs-two">
              <img class="img-responsive" src="{{@root.meta.assetsPath}}img/home_tile_6.jpg" alt="Banner image" />
              <div class="banner-text">
                <h4 class="banner-title">{{i18n "home:bannerThree.third.title"}}</h4>
                <p class="banner-paragraph">{{i18n "home:bannerThree.third.subtitle"}}</p>
                <a href="{{content.banners.bannerThree.third.href}}" class="btn banner-btn">{{i18n "home:bannerThree.third.btn"}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 nopadding">
            <div class="banner-sm">
              <img class="img-responsive" src="{{@root.meta.assetsPath}}img/woman-422706_1280.jpg" alt="Banner image" />
              <div class="banner-text">
                <h4 class="banner-title">{{i18n "home:bannerThree.fourth.title"}}</h4>
                <p class="banner-paragraph">{{i18n "home:bannerThree.fourth.subtitle"}}</p>
                <a href="{{content.banners.bannerThree.fourth.href}}" class="btn banner-btn">{{i18n "home:bannerThree.fourth.btn"}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end catalog/home-banners.hbs -->
